#push-container 

  = render 'shared/header'

  %section#page.dark-bg
    .container
      = render 'shared/sidebar_bookview', novel_articles: @novel_articles, novel: @novel, article_id: @article.id
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li
            = link_to "首頁", root_path
          %li
            = link_to @novel.category.name, category_path(@novel.category)
          %li
            = link_to @novel.name, category_novel_path(@novel.category,@novel)
          %li.active
            = link_to @article.subject + " :"+@article.title, novel_article_path(@novel,@article)
        .content
          .book-view
            .book-view_tool-bar
              = link_to category_novel_path(@novel.category,@novel), class: "btn btn-primary btn-sm" do
                %i.fa.fa-bars.fa-fw
                目錄
              - if @previous_article
                = link_to novel_article_path(@novel,@previous_article), class: "btn btn-default btn-sm" do
                  %i.fa.fa-long-arrow-left
                  上一頁
              - if @next_article
                = link_to novel_article_path(@novel,@next_article), class: "btn btn-default btn-sm" do
                  下一頁
                  %i.fa.fa-long-arrow-right

            .bool-view_header.text-center
              %h2.title.book-title 書名: #{@novel.name}
              %h3.title.section_title #{@article.subject + " :"+@article.title}
            %p
              - if @article.text.include? "jpg"
                - imgs = @article.text.split("*&&$$*")
                - imgs[0..imgs.size-2].each do |img|
                  = image_tag img
              - else
                = @article.text.gsub(/\n/, '<br/>').html_safe
            .book-view_tool-bar
              = link_to category_novel_path(@novel.category,@novel), class: "btn btn-primary btn-sm" do
                %i.fa.fa-bars.fa-fw
                目錄
              - if @previous_article
                = link_to novel_article_path(@novel,@previous_article), class: "btn btn-default btn-sm" do
                  %i.fa.fa-long-arrow-left
                  上一頁
              - if @next_article
                = link_to novel_article_path(@novel,@next_article), class: "btn btn-default btn-sm" do
                  下一頁
                  %i.fa.fa-long-arrow-right



  = render 'shared/footer'

= render 'shared/mobile'