= content_for :head do
  <title>#{@article.title} | 小說王搜集各類小說 |小說網站 </title>
  <meta name="description" content="#{@novel.name}--#{@article.subject}--#{@article.title}">
  <meta name="keywords" content="#{Category.all.map{|c| c.name}.join(",")}">
  <meta property="og:title"  content="#{@article.title} | 小說王搜集各類小說 |小說網站" />
  <meta property="og:image"  content="#{image_url("app_icon.png")}" />
  <meta property="og:url"  content="#{request.url}" />
  <meta property="og:type" content="website" />


#push-container 

  = render 'shared/header'

  %section#page.dark-bg
    .container
      = render 'shared/sidebar_bookview', novel_articles: @novel_articles, novel: @novel, article_id: @article.id
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to root_path,:itemprop => "url" do
              %span{:itemprop => "title"} 首頁
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to category_path(@novel.category),:itemprop => "url" do
              %span{:itemprop => "title"} #{@novel.category.name}
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to category_novel_path(@novel.category,@novel),:itemprop => "url" do
              %span{:itemprop => "title"} #{@novel.name}
          %li.active{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to novel_article_path(@novel,@article),:itemprop => "url" do
              %span{:itemprop => "title"} #{@article.subject + " :"+@article.title}
        .content
          .book-view
            .book-view_tool-bar
              = link_to category_novel_path(@novel.category,@novel), class: "btn btn-primary btn-sm" do
                %i.fa.fa-bars.fa-fw
                目錄
              - if @previous_article
                = link_to novel_article_path(@novel,@previous_article), class: "btn btn-default btn-sm" do
                  %i.fa.fa-long-arrow-left
                  上一頁
              - if @next_article
                = link_to novel_article_path(@novel,@next_article), class: "btn btn-default btn-sm" do
                  下一頁
                  %i.fa.fa-long-arrow-right

            .bool-view_header.text-center
              %h2.title.book-title 書名: #{@novel.name}
              %h3.title.section_title #{@article.subject + " :"+@article.title}
            %p
              - if @article.text.include? "jpg"
                - imgs = @article.text.split("*&&$$*")
                - imgs[0..imgs.size-2].each do |img|
                  = image_tag img
              - else
                = @article.text.gsub(/\n/, '<br/>').html_safe
            .book-view_tool-bar
              = link_to category_novel_path(@novel.category,@novel), class: "btn btn-primary btn-sm" do
                %i.fa.fa-bars.fa-fw
                目錄
              - if @previous_article
                = link_to novel_article_path(@novel,@previous_article), class: "btn btn-default btn-sm" do
                  %i.fa.fa-long-arrow-left
                  上一頁
              - if @next_article
                = link_to novel_article_path(@novel,@next_article), class: "btn btn-default btn-sm" do
                  下一頁
                  %i.fa.fa-long-arrow-right



  = render 'shared/footer'

= render 'shared/mobile'