%footer#footer
  .container
    .row.hidden-sx
      .col-sm-6
        .app-link
          =link_to (image_tag "en_generic_rgb_wo_45.png"), "https://play.google.com/store/apps/details?id=com.novel.reader"
          =link_to (image_tag "ios.svg"), "https://itunes.apple.com/us/app/xiao-shuo-wang-shou-ji-wang/id909020263"
        .clearfix
      .col-sm-3
        %ul.list-unstyled.footer-list
          %li
            = link_to '推薦小說', recommend_path
          %li
            = link_to '小說排行榜', top_path
          %li
            = link_to '最新更新', recent_path
          %li
            = link_to '小說分類', categories_path
      .col-sm-3
        %ul.list-unstyled.footer-list
          %li
            = link_to '作者投稿', apply_writer_path
          %li
            = link_to '加入我們', jobs_path

    %span.separated
    %span 本站資料來自互聯網, 由會員上載及自行管理. 版權無從考証. 書庫及論壇書籍版權屬於原作者. <br>不得以任何形式用于商業用途。如發現章節或資料錯誤, 版權疑問, 作品內容有違相關法律等情況, 請向我們舉報, 我們將立即刪除.