%section.left-wrapper.full.col-xs-2.hidden-xs
  .left-wrapper-top.text-right.row
    %a#close-sidebar-btn.btn.btn-default.btn-sm.visible-xs(type="button")
      %i.fa.fa-fw.fa-arrow-left
      %span.hidden-sm 收起工具欄
  %ul.list-group
    %li.list-group-item.list-group-title 最新更新
    %li.list-group-item
      = link_to "近期更新", recent_path
    %li.list-group-item
      = link_to '最新上架', newest_path
  %ul.list-group
    %li.list-group-item.list-group-title 小說分類
    %li.list-group-item.active
      = link_to "全部分類", categories_path
    - Category.where('id > 12').each do |category|
      %li.list-group-item
        = link_to category.name, category_path(category)
  %ul.list-group
    %li.list-group-item.list-group-title 推薦熱門小說
    %li.list-group-item.active
      = link_to "全部分類", recommend_path
    - RecommendCategory.all.each do |recommend_category|
      %li.list-group-item
        = link_to recommend_category.name, recommend_path(recommend_category)