= render 'shared/header'

.jumbotron.col-centered.narrow
  %h2.text-primary 申請成為小說王作家
  %p.lead 讓網路作家們的作品能給更多的讀者看到與分享
  %p
    有許人懷抱著作家的夢，但作品沒有流傳的管道; 小說王希望打造一個平台，誠摯邀請你來成為我們的簽約作家
  %p
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{class: "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = content_tag :div, msg, :id => "flash_#{name}"
    = form_for @writer, url: apply_writer_path,:html => {:class => "form-horizontal", multipart: true} do |f|
      .form-group
        %label.col-sm-2.control-label{:for => "inputEmail3"} Email
        .col-sm-10
          = f.text_field(:email, class: "form-control", :step => 'any')
      .form-group
        %label.col-sm-2.control-label{:for => "inputEmail3"} 姓名(筆名)
        .col-sm-10
          = f.text_field(:name, class: "form-control", :step => 'any')
      .form-group
        %label.col-sm-2.control-label{:for => "inputEmail3"} 作品連結(個人網站)
        .col-sm-10
          = f.text_field(:url, class: "form-control", :step => 'any')
      .form-group
        %label.col-sm-2.control-label{:for => "inputEmail3"} 電話(可不提供)
        .col-sm-10
          = f.text_field(:phone, class: "form-control", :step => 'any')
      .form-group
        %label.col-sm-2.control-label{:for => "inputEmail3"} 備註
        .col-sm-10
          = f.text_area(:remark, class: "form-control", :step => 'any')
      .form-group
        %button.btn.btn-default{:type => "submit"} Sign in
