= content_for :head do
  <title>小說王 —— 手機看小說|手機小說閱讀器|小說APP|手機小說下載|小說應用</title>
  <meta name="description" content="小說王致力成為最好用的小說閱讀器APP, 提供 言情,穿越,同人,科幻,武俠,歷史,網遊,偵探 等等小說, APP有下載，收藏, 書籤功能，滿足讀者需求！在Google Play, iTunes APP Store 均可下載">
  <meta name="keywords" content="小說王,小说网,言情小说,青春小说,玄幻小说,武侠小说,都市小说,历史小说,网络小说,原创网络文学,完整小說,言情小說,穿越小說,同人小說,科幻小說,武俠小說,歷史小說,網遊小說,偵探小說">

#push-container 

  = render 'shared/header'

  %section#home-wrapper
    .container
      .inner.text-center
        %p 最完整的小說庫, 最好用的閱讀器
        = link_to "閱讀小說", categories_path, class: "btn btn-primary"
        = link_to "成為作家", apply_writer_path, class: "btn btn-success"

  %section#feature-wrapper
    .container
      .row
        .col-md-5
          %h3.title.title_panel 推薦小說
          .row
            .col-sm-4
              .pane_img
                = image_tag @recommend_novel.pic, :class => "img-responsive"
            .col-sm-8
              .pane_detail
                %h4.title.title_book #{@recommend_novel.name}
                %p.desc #{@recommend_novel.description}
                %br
                %button.btn.btn-info.btn-sm(type="button") 馬上閱讀
                = link_to category_novel_path(@recommend_novel.category,@recommend_novel), class: "btn btn-default btn-sm" do
                  詳情
                  %i.fa.fa-long-arrow-right
        .col-md-5
          %h3.title.title_panel 最新小說
          .row
            .col-sm-4
              .pane_img
                = image_tag @newest_novel.pic , :class => "img-responsive"
            .col-sm-8
              .pane_detail
                %h4.title.title_book #{@newest_novel.name}
                %p.desc #{@newest_novel.description}
                %br
                %button.btn.btn-info.btn-sm(type="button") 馬上閱讀
                = link_to category_novel_path(@newest_novel.category,@newest_novel), class: "btn btn-default btn-sm" do
                  詳情
                  %i.fa.fa-long-arrow-right
        .col-md-2
          %h3.title.title_panel 贊助廣告
          .ad


  %section#page
    .container
      .nav-background
        %ul.nav.nav-pills
          %li.active
            %a{:href => "/"} 全部分類
          - @categories.each do |category|
            %li
              = link_to category.name,category_path(category)
      .pin-wrapper
        = render @novels
          
    #infinite-scrolling.center-div
      = will_paginate @novels

  = render 'shared/footer'

= render 'shared/mobile'