%footer#footer
  .container
    .row.hidden-xs
      .col-sm-6
        .app-link
          =link_to (image_tag "en_generic_rgb_wo_45.png"), "https://play.google.com/store/apps/details?id=com.novel.reader"
          =link_to (image_tag "ios.svg"), "#"
        .clearfix
      .col-sm-3
        %ul.list-unstyled.footer-list
          %li
            = link_to '推薦小說'
          %li
            = link_to '小說排行榜'
          %li
            = link_to '最新更新'
          %li
            = link_to '小說分類'
      .col-sm-3
        %ul.list-unstyled.footer-list
          %li
            = link_to '關於我們'
          %li
            = link_to '作者投稿'
          %li
            = link_to '購買點數'
          %li
            = link_to '廣告合作'
          %li
            = link_to '聯絡方法'
    %span.separated
    %span 本站資料來自互聯網, 由會員上載及自行管理. 版權無從考証. 書庫及論壇書籍版權屬於原作者. <br>不得以任何形式用于商業用途。如發現章節或資料錯誤, 版權疑問, 作品內容有違相關法律等情況, 請向我們舉報, 我們將立即刪除.