#push-container 

  = render 'partial/header'

  %section#page.dark-bg
    .container
      = render 'partial/sidebar'
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li
            %a{:href => "/"} 首頁
          %li
            %a{:href => "/"} 小說列表分類
        .content
          .content-top
            .tag-bar
              .tag-title
                %span 標簽
              .tag-list
                %ul.list-inline
                  %li
                    %a.active.label.label-primary{:href => "/"} 遊戲
                  %li 
                    %a{:href => "/"} 仙俠武俠
                  %li 
                    %a{:href => "/"} 玄幻奇幻
                  %li 
                    %a{:href => "/"} 都市言情
                  %li 
                    %a{:href => "/"} 科幻小說
                  %li 
                    %a{:href => "/"} 軍事歷史
                  %li 
                    %a{:href => "/"} 少女
            .tag-bar
              .tag-title
                %span 標簽2
              .tag-list
                %ul.list-inline
                  %li
                    %a{:href => "/"} 遊戲
                  %li 
                    %a.active.label.label-primary{:href => "/"} 仙俠武俠
                  %li 
                    %a{:href => "/"} 玄幻奇幻
          .content-body
            .row
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book
              .col-sm-6.col-md-3
                .panel.pin
                  = image_tag "cover.jpg", :class=> "img-responsive"
                  .panel-body.text-center
                    %h4 界厚転
                    %span.sub-title 山線情明書生齢
                  .btn-group.btn-group-justified
                    %a.btn
                      %i.fa.fa-plus-circle
                    %a.btn
                      %i.fa.fa-heart
                    %a.btn
                      %i.fa.fa-book

  = render 'partial/footer'

= render 'partial/mobile'