= content_for :head do
  <title>#{@novel.name} -- #{@category.name} | 小說王搜集各類小說 |小說網站 </title>
  <meta name="description" content="#{@novel.description}">
  <meta name="keywords" content="#{@novel.name},#{@category.name},#{@novel.author}">
  <meta property="og:title"  content="#{@novel.name}-- #{@category.name} | 小說王搜集各類小說 |小說網站" />
  <meta property="og:image"  content="#{image_url(@novel.pic)}" />
  <meta property="og:url"  content="#{request.url.split('?').first}" />
  <meta property="og:description" content="#{@novel.description}" />
  <meta property="og:type" content="book">
  <meta property="book:author" content="#{@novel.author}">
  <meta property="book:tag" content="#{@category.name}">

#push-container 

  = render 'shared/header'

  %section#page.dark-bg
    .container
      = render 'shared/sidebar'
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to root_path,:itemprop => "url" do
              %span{:itemprop => "title"} 首頁
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to category_path(@category),:itemprop => "url" do
              %span{:itemprop => "title"} #{@category.name}
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to category_novel_path(@category,@novel),:itemprop => "url" do
              %span{:itemprop => "title"} #{@novel.name}
              
        .content{:itemscope => "", :itemtype => "http://schema.org/Book"}
          .row.pane
            .col-sm-4
              .pane_img
                = image_tag @novel.pic , :class => "img-responsive",:itemprop => "image", alt: @novel.name
            .col-sm-8
              .pane_detail
                %h4.title.title_book{:itemprop => "name"} #{@novel.name}
                %p{:itemprop => "description"} #{@novel.description}
                %hr
                = link_to author_path(@novel.author), class: "btn btn-default btn-sm",:itemprop => "author" do
                  %i.fa.fa-user.fa-fw 
                  #{@novel.author}

                = link_to novel_article_path(@novel,@articles[0].first), class: "btn btn-default btn-sm" do
                  %i.fa.fa-plus.fa-fw 
                  點擊閱讀

          .content-body
            %hr
            .row
              .col-md-4
                %ul.list-group.panel
                  - @articles[0].each do |article|
                    %li.list-group-item
                      = link_to article.subject + " :"+article.title, novel_article_path(@novel,article)
              .col-md-4
                %ul.list-group.panel
                  - @articles[1].each do |article|
                    %li.list-group-item
                      = link_to article.subject + " :"+article.title, novel_article_path(@novel,article)

              .col-md-4
                %ul.list-group.panel
                  - @articles[2].each do |article|
                    %li.list-group-item
                      = link_to article.subject + " :"+article.title, novel_article_path(@novel,article)

  = render 'shared/footer'

= render 'shared/mobile'