#push-container 

  = render 'partial/header'

  %section#page.dark-bg
    .container
      = render 'partial/sidebar'
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li
            %a{:href => "/"} 首頁
          %li
            %a{:href => "/"} 小說列表分類
          %li
            %a{:href => "/"} 小說詳細頁
        .content
          .row.pane
            .col-sm-4
              .pane_img
                = image_tag "cover.jpg", :class => "img-responsive"
            .col-sm-8
              .pane_detail
                %h4.title.title_book 影子
                %p 便生這愛育的，如漸病各友父小的點候小麗物很險業後馬不有車理這賽化他玩年美長工完研，可老過，異還也色上於錯定後天克中選建視輪性倒際著到太近商的帶動面不男精聽看、以製孩我指去媽終馬就問病角似是一媽，興下與手；時景好小實，歡因拉要時上特些：度更國為古好和服此所死先寶對、師人樂水成國頭國坡多。計不眼賽景來天應從然機所爸學太隨專轉人結有些受世麼。會家眼氣會想安？朋母光早上中。當明速於路查真習，開洲小。
                %p 立策不種著來她從這這司遠旅都一建，病聲該發目歡得紅西乎身投國：再時頭去西，走四開士需灣風眼告及區上的車如通和型者世洋公打的且去我，日美劇最
                %hr
                %button.btn.btn-default.btn-sm(type="button")
                  %i.fa.fa-plus.fa-fw 
                  點擊閱讀
                %button.btn.btn-default.btn-sm(type="button")
                  %i.fa.fa-heart.fa-fw
                  加入最愛
                %button.btn.btn-default.btn-sm(type="button")
                  %i.fa.fa-thumbs-o-up
                %button.btn.btn-default.btn-sm(type="button")
                  %i.fa.fa-thumbs-o-down
          .content-body
            %hr
            .row
              .col-md-4
                %ul.list-group.panel
                  %li.list-group-item.active
                    %a{:href => "/"} 第一章 是內正活學查
                  %li.list-group-item
                    %a{:href => "/"} 第二章 量臺食為
                  %li.list-group-item
                    %a{:href => "/"} 第三章 金道每度例山世
                  %li.list-group-item
                    %a{:href => "/"} 第四章 雨線老令克洲長化年
                  %li.list-group-item
                    %a{:href => "/"} 第五章 超發
                  %li.list-group-item
                    %a{:href => "/"} 第六章 止黃
                  %li.list-group-item
                    %a{:href => "/"} 第七章 量臺食為
                  %li.list-group-item
                    %a{:href => "/"} 第八章 他取家知保講灣每大
                  %li.list-group-item
                    %a{:href => "/"} 第九章 童苦影工
                  %li.list-group-item
                    %a{:href => "/"} 第十章 公打
              .col-md-4
                %ul.list-group.panel
                  %li.list-group-item
                    %a{:href => "/"} 第一章 是內正活學查
                  %li.list-group-item
                    %a{:href => "/"} 第二章 量臺食為
                  %li.list-group-item
                    %a{:href => "/"} 第三章 金道每度例山世
                  %li.list-group-item
                    %a{:href => "/"} 第四章 雨線老令克洲長化年
                  %li.list-group-item
                    %a{:href => "/"} 第五章 超發
                  %li.list-group-item
                    %a{:href => "/"} 第六章 止黃
                  %li.list-group-item
                    %a{:href => "/"} 第七章 量臺食為
                  %li.list-group-item
                    %a{:href => "/"} 第八章 他取家知保講灣每大
                  %li.list-group-item
                    %a{:href => "/"} 第九章 童苦影工
                  %li.list-group-item
                    %a{:href => "/"} 第十章 公打
              .col-md-4
                %ul.list-group.panel
                  %li.list-group-item
                    %a{:href => "/"} 第一章 是內正活學查
                  %li.list-group-item
                    %a{:href => "/"} 第二章 量臺食為
                  %li.list-group-item
                    %a{:href => "/"} 第三章 金道每度例山世
                  %li.list-group-item
                    %a{:href => "/"} 第四章 雨線老令克洲長化年
                  %li.list-group-item
                    %a{:href => "/"} 第五章 超發
                  %li.list-group-item
                    %a{:href => "/"} 第六章 止黃
                  %li.list-group-item
                    %a{:href => "/"} 第七章 量臺食為
                  %li.list-group-item
                    %a{:href => "/"} 第八章 他取家知保講灣每大
                  %li.list-group-item
                    %a{:href => "/"} 第九章 童苦影工
                  %li.list-group-item
                    %a{:href => "/"} 第十章 公打

  = render 'partial/footer'

= render 'partial/mobile'