#push-container 

  = render 'shared/header'

  %section#page
    .container
      .nav-background
        %ul.nav.nav-pills
          %li.active
            %a{:href => "/"} 全部分類
          %li
            %a{:href => "/"} 玄幻奇幻
          %li
            %a{:href => "/"} 仙俠武俠
          %li
            %a{:href => "/"} 遊戲
          %li
            %a{:href => "/"} 競技

      .pin-wrapper
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book
        .panel.pin
          = image_tag "cover.jpg", :class=> "img-responsive"
          .panel-body.text-center
            %h4 界厚転
            %span.sub-title 山線情明書生齢
          .btn-group.btn-group-justified
            %a.btn
              %i.fa.fa-plus-circle
            %a.btn
              %i.fa.fa-heart
            %a.btn
              %i.fa.fa-book

  = render 'shared/footer'