= content_for :head do
  <title> 推薦#{@category.name} | 小說王搜集各類小說 |小說網站 </title>
  <meta name="description" content="#{@category.name}, 類別小說">
  <meta name="keywords" content="#{@category.name}">

#push-container 

  = render 'shared/header'

  %section#page.dark-bg
    .container
      = render 'shared/sidebar'
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to root_path,:itemprop => "url" do
              %span{:itemprop => "title"} 首頁
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to recommend_path,:itemprop => "url" do
              %span{:itemprop => "title"} 推薦熱門小說
          - if @category
            %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
              = link_to recommend_path(@category),:itemprop => "url" do
                %span{:itemprop => "title"} #{@category.name}
        .content
          .content-body
            .row
              = render partial: 'novels/novel_for_category', collection: @novels, as: :novel

  = render 'shared/footer'

= render 'shared/mobile'