= content_for :head do
  <title>#{@category.name} | 小說王搜集各類小說 |小說網站 </title>
  <meta name="description" content="#{@category.name}, 類別小說">
  <meta name="keywords" content="#{@category.name}">

#push-container 

  = render 'shared/header'

  %section#page.dark-bg
    .container
      = render 'shared/sidebar'
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to root_path,:itemprop => "url" do
              %span{:itemprop => "title"} 首頁
          %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
            = link_to categories_path,:itemprop => "url" do
              %span{:itemprop => "title"} 全部分類
          - if @category
            %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
              = link_to category_path(@category),:itemprop => "url" do
                %span{:itemprop => "title"} #{@category.name}
        .content
          .content-body
            .row
              = render partial: 'novels/novel_for_category', collection: @novels, as: :novel

        #with-button
          = will_paginate @novels

        - if @novels.next_page
          .center-div
            #load-more-btn.btn.btn-primary.btn-lg.load-more 更多小說

  = render 'shared/footer'

= render 'shared/mobile'