

#push-container 

  = render 'shared/header'

  %section#page.dark-bg
    .container
      = render 'shared/sidebar'
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li
            = link_to "首頁", root_path
          %li
            = link_to "全部分類", categories_path
          - if @category
            %li
              = link_to @category.name, category_path(@category)
        .content
          .content-body
            .row
              = render partial: 'novels/novel_for_category', collection: @novels, as: :novel

        #with-button
          = will_paginate @novels

        - if @novels.next_page
          .center-div
            #load-more-btn.btn.btn-primary.btn-lg.load-more 更多小說

  = render 'shared/footer'

= render 'shared/mobile'